.hero {
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  h1 {
    font-size: 5rem;
    font-weight: 800;
  }

  p {
    font-size: 2rem;
    padding: 0.5rem 0 2rem;
  }

  button {
    background: #fff;
    border-radius: 6px;
    color: #222;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: none;
    &:hover {
      transition: 0.5s;
      background-color: #01959a;
      color: white;
    }
  }
}
