.form {
  margin: 4rem auto;
  padding: 1.5rem;
  width: 80%;

  h3 {
    text-align: center;
    font-size: 2.5rem;
  }

  .inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    width: 100%;

    input {
      border: 1px solid #2a2a2a;
      border-radius: 0.3rem;
      margin-bottom: 2rem;
      height: 4rem;
      padding: 0 1.5rem;
      width: 60%;
      font-size: 1.3rem;
    }

    textarea {
      padding: 1.5rem;
      border: 1px solid #2a2a2a;
      border-radius: 0.3rem;
      margin-bottom: 2rem;
      height: 8rem;
      width: 60%;
      font-size: 1.3rem;
      resize: none;
    }

    input[type="submit"] {
      padding: 20px;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      width: 60%;
      height: 4rem;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      &:hover {
        color: white;
        background-color: black;
      }
    }
    .log {
      display: flex;

      p {
        font-size: 1.4rem;
        padding: 0 5px;
        text-align: center;
      }

      button {
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        &:hover {
          transition: 0.5s;
          color: #01959a;
        }
      }
    }
  }
}
