.Destinations {
  color: #2a2a2a;
  margin: 4rem 6rem;
  padding-top: 100px;

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  #des {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .first-destinations {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;

    .text {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: start;
      width: 45%;

      h2 {
        padding-bottom: 1rem;
      }
    }

    .img-container {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 50%;
      z-index: -99;

      #img1,
      #img2 {
        border-radius: 6px;
        box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
        height: 350px;
        object-fit: cover;
        width: 49%;
      }
      #img2 {
        position: absolute;
        right: 0;
        top: -10px;
      }
    }
  }
  .first-destinations.reverse {
    flex-direction: row-reverse;
  }
}
