nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 15px 5px 0 rgba(0, 0, 0, 0.25);
  height: 80px;
  width: 95%;
  left: 50%;
  padding: 0 30px;
  position: fixed;
  top: 20px;
  transform: translatex(-50%);
  z-index: 9999;

  h1 {
    color: #222;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
  }

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    ul {
      gap: 10px;
      display: flex;
      align-items: center;
      list-style: none;
      a {
        color: #222;
        font-size: 1.2rem;
        font-weight: 800;
        text-decoration: none;
        padding: 0.7rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 6px;
        gap: 10px;
        transition: all 0.2s ease-in-out;
        &.active,
        &:hover {
          background-color: #01959a;
          color: white;
        }
      }
    }
    button {
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
